/angular
/node_modules
/public/hot
/public/assets
/public/*.js
/public/*.woff2
/public/*.woff
/public/*.svg
/public/*.eot
/public/*.gif
/public/*.png
/public/*.ttf
/public/*.txt
/public/*.css
/public/storage
/public-copia

/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.gitignore
